.homepage-container {
  position: absolute;
  height: 100%;
  width: 90%;
}

.homepage-container .frontText-asd {
  position: absolute;
  right: 0px;
  top: 30px;
  width: 60%;
}

.portrait-container {
  position: relative;
  height: 100%;
  width: 30%;
  left: 0px;
}

.portrait-container .morris-back {
  position: relative;
  height: 100%;
  width: 100%;
  left: 0px;
  z-index: -1;
}

.portrait-container .portrait {
  position: absolute;
  height: 50%;
  width: 90%;
  left: 0px;
  margin-left: 5%;
  margin-top: 30%;
}
